---
import logoFull from "../assets/Logo_full_verde.png";
import logoSm from "../assets/Logo_sm_verde.png";

// Definición de los enlaces
const navItems = [
  { name: 'Inicio', href: '/psicologa_lilian_oviedo' },
  { name: 'Sobre mí', href: '/psicologa_lilian_oviedo/sobre-mi' },
  { name: 'Mis servicios', href: '/psicologa_lilian_oviedo/servicios' },
  { name: 'Artículos', href: '/psicologa_lilian_oviedo/articulos' },
  { name: 'Planes', href: '/psicologa_lilian_oviedo/planes' },
];


const { pathname } = Astro.url;
// Normalización para evitar discrepancias por barras finales (trailing slashes)
const isActive = (path: string) => 
  pathname === path || pathname === path + '/' || (path !== '/' && pathname.startsWith(path));


---

<header class="bg-white fixed w-full h-[70px] z-20 top-0 start-0 shadow-md min-w-[240px]">
  <!-- <nav class="2xl:max-w-full md:max-w-7xl px-15 flex items-center justify-between"> -->
  <nav class="px-2 flex items-center md:justify-between h-full">
    <!-- Logo -->
    <div class="logo-container text-xl font-bold text-gray-800 flex basis-1/2 justify-start min-w-[60px] md:basis-1/4 lg:justify-end sm:pl-5 lg:pl-15">
      <a href="/psicologa_lilian_oviedo">
        <img src={logoFull.src} alt="logo" class="h-20 pt-1 hidden xl:block">
        <img src={logoSm.src} alt="logo" class="h-20 pt-1 block xl:hidden">  
      </a>
      <!-- <img src="src/assets/Logo_full_verde.png" alt="logo" class="h-20 pt-1 hidden xl:block"> -->
      <!-- <img src="src/assets/Logo_sm_verde.png" alt="logo" class="h-20 pt-1 block xl:hidden">   -->
    </div>

    <!-- Links de Navegación -->
    <nav class="links-container hidden flex-none md:basis-1/2 min-w-96 md:block">
      <ul class="flex space-x-5 lg:space-x-8 items-center justify-center">
        {
        navItems.map((item) => (
          <li>
            <a
              href={item.href}
            >
              <div
              class:list={[
                "transition-colors duration-200 h-10 flex items-center",
                isActive(item.href) ? "text-primary font-bold border-b-2 border-primary" : "text-gray-600 hover:text-primary hover:font-semibold hover:border-b hover:border-primary"
              ]}>
                <span>{item.name}</span> 
              </div>
            </a>
          </li>
        ))}
      </ul>
    </nav>

    <!-- Botón Call to Action (CTA) -->
    <div class="cta-container flex basis-1/2 items-center justify-end md:basis-1/4 md:justify-end lg:justify-start">
      <!-- <a
        href="/contacto"
        class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-2.5 rounded-lg font-bold shadow-md transition-all active:scale-95"
      > -->
      <a
        href="/psicologa_lilian_oviedo/planes"
        class="text-white bg-primary hover:bg-[#636e55] box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium text-sm px-1 h-10 focus:outline-none rounded-2xl mr-2 min-w-31 flex items-center justify-center sm:px-2"
      >
        Empezar ahora
      </a>

      <button id="btn-burguer-menu" type="button" aria-expanded="false" class="relative inline-flex items-center justify-center rounded-md hover:bg-white/5 hover:text-white focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-500">
        <span class="sr-only">Open main menu</span>
        <svg class="inline-flex items-center p-1 size-9 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary in-aria-expanded:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" class="p-1 size-9 not-in-aria-expanded:hidden">
          <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>

      <!-- <button data-collapse-toggle="navbar-cta" type="button" class="w-10 h-10 md:hidden" aria-controls="navbar-cta" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="inline-flex items-center p-1 w-9 h-9 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>
      </button> -->
    </div>
  </nav>
  <div id="mobile-menu" class="hidden md:hidden bg-white">
    <div class="space-y-1 px-2 pt-2 pb-3">
      <!-- Current: "bg-gray-950/50 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
      {
        navItems.map((navItem) => (
          <a 
          href={navItem.href}
          class:list = {[
            isActive(navItem.href) ? "font-bold text-primary bg-[rgba(144,160,124,0.30)]" : "hover:text-primary text-gray-500",
            "block rounded-md px-3 py-2 text-base font-medium"
          ]}
          >{navItem.name}</a>
        ))
      }
      <!-- <a href="#" aria-current="page" class="block rounded-md bg-gray-950/50 px-3 py-2 text-base font-medium text-white">Dashboard</a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">Team</a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">Projects</a>
      <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-white/5 hover:text-white">Calendar</a> -->
    </div>
  </div>
  
</header>

<script>
  const btnBurguerMenu = document.getElementById("btn-burguer-menu");
  
  const mobileMenu = document.getElementById("mobile-menu");
  console.log(btnBurguerMenu)

  btnBurguerMenu?.addEventListener('click', () => {
    mobileMenu?.classList.toggle("hidden");
    mobileMenu?.classList.toggle("show");

    const isAriaLabelExpanded = btnBurguerMenu.getAttribute("aria-expanded") === "true";
    btnBurguerMenu.setAttribute("aria-expanded", (!isAriaLabelExpanded).toString())
  });
</script>

